<script lang="ts">
  import { HomeIcon } from "svelte-feather-icons";
  import { twMerge } from "tailwind-merge";
  import { page } from "$app/stores";
  import { PUBLIC_PROJECT_NAME, PUBLIC_GOOGLE_SITE_VERIFICATION } from "$env/static/public";
  import Button from "$lib/components/Button.svelte";
  import { MODES } from "$lib/modes";
  import Logo from "$lib/parts/Logo.svelte";

  import "../app.css";

  const DESCRIPTION = "Database of all sounds and voice-overs in Cyberpunk 2077.";
  $: title = [$page.data.title, PUBLIC_PROJECT_NAME].filter((v) => v).join(" | ");
</script>

<svelte:head>
  <title>{title}</title>
  <meta property="og:title" content={title} />

  {#if $page.data.description !== false}
    <meta name="description" content={$page.data.description ?? DESCRIPTION} />
    <meta property="og:description" content={$page.data.description ?? DESCRIPTION} />
  {/if}

  <meta name="twitter:card" content={$page.data.twCard ?? "summary"} />
  <meta property="og:type" content={$page.data.ogType ?? "website"} />

  <meta property="og:url" content={$page.url.href} />
  <meta property="og:image" content="/favicon.png" />

  <meta name="theme-color" content="#f3e600" />

  {#if PUBLIC_GOOGLE_SITE_VERIFICATION}
    <meta name="google-site-verification" content={PUBLIC_GOOGLE_SITE_VERIFICATION} />
  {/if}
</svelte:head>

<header class="sticky top-0 z-40 flex items-end justify-between border-b-2 border-cyan bg-black px-4">
  <div class="py-4">
    <a href="/" class="inline-flex items-center gap-2 align-middle">
      <Logo class="-my-1 inline-block h-12 w-auto" />
      <h1 class="inline text-3xl font-semibold leading-none text-yellow lg:text-4xl">{PUBLIC_PROJECT_NAME}</h1>
    </a>
    <p class="inline-block whitespace-nowrap px-2 text-right align-middle">
      by
      <a href="https://zhincore.eu/" target="_blank" class="text-yellow transition hover:text-yellow-100">
        [Zhincore]
      </a>
    </p>
  </div>

  <Button href="/" class="my-auto md:hidden" wideStripe={false}>
    <HomeIcon />
  </Button>

  <nav class="max-md:hidden">
    <ul class="flex flex-wrap gap-4">
      {#each Object.keys(MODES) as mode (mode)}
        <li>
          <a
            href="/{mode}"
            class={twMerge(
              "tab block bg-cyan bg-opacity-50 px-3 py-2 pr-6 font-semibold uppercase text-cyan-light opacity-75",
              "transition hover:opacity-100",
              $page.url.pathname.startsWith("/" + mode) && "bg-yellow bg-opacity-100 text-black opacity-100",
            )}
          >
            {MODES[mode]}
          </a>
        </li>
      {/each}
    </ul>
  </nav>
</header>

<main class="relative flex h-full w-full flex-grow flex-col">
  <slot />
</main>

<footer class="border-t-2 border-red bg-black text-center"></footer>

<style>
  .tab {
    clip-path: polygon(
      0% 0%,
      10% 0%,
      10% 0.15rem,
      25% 0.15rem,
      25% 0%,
      calc(100% - 0.5rem) 0%,
      100% 0.5rem,
      100% 100%,
      0% 100%
    );
  }
</style>
