<script lang="ts">
  import { CheckIcon } from "svelte-feather-icons";
  import { PUBLIC_PROJECT_NAME } from "$env/static/public";
  import Button from "$lib/components/Button.svelte";
  import PanelBackground from "$lib/components/PanelBackground.svelte";
  import { MODES } from "$lib/modes";
  import { serviceWorkerReady } from "$lib/serviceWorkerStore";
</script>

<svelte:head>
  <title>{PUBLIC_PROJECT_NAME}</title>
</svelte:head>

<div class="flex h-full w-full flex-grow flex-col items-center justify-center p-4 text-center">
  <div class="text-lg text-zinc-300">
    <h2 class="mb-1.5 text-2xl text-yellow">Welcome to SoundDB</h2>
    <p>Here you can explore all the sounds and voices that Cyberpunk 2077 contains.</p>
    <p>
      This project is a part of the <a
        href="https://redmodding.org/"
        class="font-bold text-red transition hover:text-red-400 hover:underline">Red Modding</a
      >
      community, make sure to checkout
      <a
        href="https://wiki.redmodding.org/cyberpunk-2077-modding/for-mod-creators/modding-guides/sound/finding-an-audio-file"
        class="font-bold text-yellow transition hover:text-yellow-200 hover:underline">the WIKI</a
      >!
    </p>
  </div>

  <nav class="relative my-auto flex w-full flex-col items-center px-2 py-8 md:w-auto md:px-8">
    <PanelBackground class="bg-slate-950 bg-opacity-50 text-red-darker" />

    <h2 class="mb-8 text-3xl text-red">What do you want to explore?</h2>

    <div class="mb-2 flex flex-col gap-4">
      {#each Object.keys(MODES) as mode (mode)}
        <Button href="/{mode}" label={MODES[mode]} class="w-full flex-grow" />
      {/each}
    </div>
  </nav>

  <div class="mt-auto text-xl uppercase text-green-400 transition" class:opacity-0={!$serviceWorkerReady}>
    <CheckIcon class="inline-block" size="2x" />
    This app is now available offline.
  </div>
</div>
