<script lang="ts">
  import { onMount } from "svelte";
  import fileSize from "$data/sfx_map.json?filesize";
  import file from "$data/sfx_map.json?url";
  import TheWholeDamnPage from "$lib/parts/TheWholeDamnPage.svelte";
  import SfxDetail from "./SFXDetail.svelte";
  import SfxItem from "./SFXItem.svelte";
  import { getSFXPreviewUrl, type SFXEntry, type SFXMap } from "./sfx";

  export let data;

  function getItemId(item: SFXEntry) {
    return item.hash;
  }

  function getPreviewUrl(id: string | number) {
    return getSFXPreviewUrl(+id);
  }

  function normalizeStrings(str: string[]) {
    return str.map((s) => s.replace("_", " "));
  }

  function processData(rawData: SFXMap): SFXEntry[] {
    return Object.values(rawData).map((v) => ({
      ...v,
      events_norm: normalizeStrings(v.events),
      tags_norm: normalizeStrings(v.tags),
    }));
  }

  onMount(() => {
    // Convert old #{id} into new /{id}
    const oldId = Number(window.location.hash.slice(1));
    if (oldId && !isNaN(oldId)) window.location.href = "/sfx/" + oldId;
  });
</script>

<TheWholeDamnPage
  itemWidth={300}
  itemHeight={128}
  {file}
  {fileSize}
  {getItemId}
  {getPreviewUrl}
  {processData}
  initialData={data.sfx_map}
  dataName="SFX database"
  contentName="sounds"
  detailName="Sound Effect"
  searchHint="Search for events, tags, hashes, etc."
  keys={[
    { name: "hash", weight: 4 },
    { name: "pak" },
    { name: "events", weight: 2 },
    // _norm are generated fields that replace _ with spaces
    // because otherwise Fuse had issues searching for words
    { name: "events_norm", weight: 3 },
    { name: "tags", weight: 2 },
    { name: "tags_norm", weight: 3 },
    { name: "gameParameter", weight: 0.1 },
    { name: "state", weight: 0.1 },
    { name: "stateGroup", weight: 0.1 },
    { name: "switch", weight: 0.5 },
    { name: "switchGroup", weight: 0.1 },
    { name: "embeddedIn", weight: 0.1 },
  ]}
  filters={{
    kind: {
      type: "select",
      label: "Kind",
      default: "any",
      options: { any: "any", music: "Music", sfx: "SFX" },
      filter: (kind, d) => (kind == "any" ? d : d.filter((a) => a.isMusic === (kind == "music"))),
    },
    gender: {
      type: "select",
      label: "V's Gender",
      default: "any",
      options: { any: "any", male: "Male", female: "Female", none: "None" },
      filter: (gender, d) => {
        if (gender == "any") return d;
        return d.filter((a) => {
          if (gender == "none") {
            return !a.switch || a.switch.every((s) => s != "male" && s != "female");
          }
          return a.switch?.includes(gender);
        });
      },
    },
  }}
>
  <SfxItem
    slot="item"
    let:item
    {item}
    let:index
    {index}
    let:focused
    focus={focused}
    let:playSound
    {playSound}
    let:playingId
    {playingId}
    let:previewsAvailable
    {previewsAvailable}
    let:audio
    {audio}
    let:onFocus
    on:focus={onFocus}
    let:onBlur
    on:blur={onBlur}
  />

  <SfxDetail slot="detail" let:audio {audio} let:item sound={item} />
</TheWholeDamnPage>
