<script lang="ts">
  import { onMount } from "svelte";
  import AudioPlayer from "$lib/components/AudioPlayer.svelte";
  import CopyButton from "$lib/components/CopyButton.svelte";
  import DataEntry from "$lib/components/DataEntry.svelte";
  import TagList from "$lib/components/TagList.svelte";
  import WrappableText from "$lib/components/WrappableText.svelte";
  import { useVisualizedAudio, type VisualizerAudioCntr } from "$lib/visualizedAudio";
  import { getSFXPreviewUrl, type SFXEntry } from "./sfx";

  const LOCATIONS: Record<SFXEntry["location"], string> = {
    bnk: ".bnk",
    opuspak: ".opuspak",
    virtual: "nonexistent",
    wem: "Separate .wem file",
  };

  export let sound: SFXEntry;
  export let audio: VisualizerAudioCntr = useVisualizedAudio();

  $: previewUrl = getSFXPreviewUrl(sound.hash);
  $: currentSrc = audio.currentSrc;
  $: if ($currentSrc != previewUrl) audio.loadSound(previewUrl);

  onMount(() => {
    audio.setFFTSize(1024 * 4);

    return () => {
      audio.stopSound();
      audio.setFFTSize();
    };
  });
</script>

<svelte:head>
  {#if sound.location != "virtual"}
    <meta property="og:audio" content={previewUrl} />
    <meta property="og:audio:secure_url" content={previewUrl} />
    <meta property="og:audio:type" content="audio/ogg" />
  {/if}
</svelte:head>

{#if sound.location != "virtual"}
  <div class="my-2 w-full max-w-md">
    <AudioPlayer {audio} />
  </div>
{/if}

<dl class="flex w-full flex-col gap-4">
  <DataEntry key="Hash">
    <CopyButton
      content={sound.hash.toString()}
      title="Copy hash to clipboard"
      class="-mx-2 -my-1 text-3xl text-cyan"
      iconClass="text-xl pb-1"
    >
      {sound.hash}
    </CopyButton>
  </DataEntry>

  <DataEntry key="Extracted from" valueClass={sound.location == "virtual" ? "error-text" : ""}>
    {LOCATIONS[sound.location]}
  </DataEntry>

  {#if sound.pak}
    <DataEntry key="Pak name">
      <CopyButton content={sound.pak} class="-mx-2">
        {sound.pak}
      </CopyButton>
    </DataEntry>
  {/if}

  {#if sound.embeddedIn?.length}
    <DataEntry key="Embedded in ({sound.embeddedIn.length})">
      <ul class="inline-flex flex-wrap gap-1">
        {#each sound.embeddedIn as bnk, i (i + bnk)}
          <li>
            <CopyButton content={bnk} class="bg-slate-500 bg-opacity-10">
              <WrappableText text={bnk} splitter="\\" />
            </CopyButton>
          </li>
        {/each}
      </ul>
    </DataEntry>
  {/if}

  <DataEntry key="Events ({sound.events.length})">
    <TagList
      items={sound.events}
      itemClass="bg-slate-500 bg-opacity-10 text-yellow"
      wrappableSplitter="_"
      hideAfterChars={128}
    />
  </DataEntry>

  <DataEntry key="Event Tags ({sound.tags.length})">
    <TagList
      items={sound.tags}
      itemClass="bg-slate-500 bg-opacity-10 text-red"
      wrappableSplitter="_"
      hideAfterChars={128}
    />
  </DataEntry>

  {#if sound.gameParameter?.length}
    <DataEntry key="Used Game Parameters" valueClass="text-slate-300">
      <TagList items={sound.gameParameter} copyButton={false} class="gap-x-3" />
    </DataEntry>
  {/if}

  {#if sound.state?.length}
    <DataEntry key="Used States" valueClass="text-slate-300">
      <TagList items={sound.state} copyButton={false} class="gap-x-3" />
    </DataEntry>
  {/if}

  {#if sound.stateGroup?.length}
    <DataEntry key="Used State Groups" valueClass="text-slate-300">
      <TagList items={sound.stateGroup} copyButton={false} class="gap-x-3" />
    </DataEntry>
  {/if}

  {#if sound.switch?.length}
    <DataEntry key="Used Switches" valueClass="text-slate-300">
      <TagList items={sound.switch} copyButton={false} class="gap-x-3" />
    </DataEntry>
  {/if}

  {#if sound.switchGroup?.length}
    <DataEntry key="Used Switch Groups" valueClass="text-slate-300">
      <TagList items={sound.switchGroup} copyButton={false} class="gap-x-3" />
    </DataEntry>
  {/if}
</dl>
