<script lang="ts" context="module">
  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  import type { ItemBase, FilterOption } from "./ItemFilterOption.svelte";
</script>

<script lang="ts" generics="Item extends ItemBase">
  /* eslint-disable no-undef */
  import type { FuseOptionKey } from "fuse.js";
  import { onMount } from "svelte";
  import { fade } from "svelte/transition";
  import { XIcon } from "svelte-feather-icons";
  import { page } from "$app/stores";
  import { LiveURLSearchParams } from "$lib/LiveURLSearchParams";
  import { OffthreadFuse } from "$lib/OffthreadFuse";
  import Button from "$lib/components/Button.svelte";
  import Input from "$lib/components/Input.svelte";
  import Link from "$lib/components/Link.svelte";
  import PanelBackground from "$lib/components/PanelBackground.svelte";
  import Switch from "$lib/components/Switch.svelte";
  import ItemFilterOption from "./ItemFilterOption.svelte";

  const params = new LiveURLSearchParams($page.url.searchParams);

  export let data: Item[];
  export let keys: FuseOptionKey<Item>[];
  export let filters: Record<string, FilterOption<Item>>;
  export let searchHint = "";
  export let contentName = "items";

  // Bindable
  export let processing = false;
  export let filtered = data;

  export let infiniteScroll = false;

  const fuse = new OffthreadFuse<Item>(750);

  let searchResult = data;
  let searchLoaded = false;
  let search = params.get("search", "");
  let updatingSearch = !!search;
  let searching = false;

  let filterParams: string[] = [];
  let filterRunning: boolean[] = [];
  let filterResults: Item[][] = [];

  const updateUpdatingSearch = () => (updatingSearch = !!search);

  onMount(() => {
    fuse
      .initialize([], {
        keys,
        ignoreLocation: true,
        useExtendedSearch: true,
      })
      .then(() => {
        searchLoaded = true;
      });

    fuse.on("searchStarted", () => {
      searching = true;
    });

    fuse.on("searched", (oldQuery, result) => {
      if (oldQuery != search) return;
      searching = false;
      searchResult = result;
    });

    fuse.on("updated", () => {
      updatingSearch = false;
      searching = !!search;
      fuse.scheduleSearch(search);
    });

    return () => fuse.destroy();
  });

  $: if (searchLoaded) {
    fuse.update(data);
    updateUpdatingSearch();
  }
  $: if (searchLoaded) fuse.scheduleSearch(search);

  // Searching
  $: if (search) {
    params.set("search", search);
  } else {
    params.delete("search");
    searching = false;
    searchResult = data;
  }

  $: processing = updatingSearch || searching || filterRunning.some((v) => v);
  $: filtered = filterResults[filterResults.length - 1] ?? searchResult;

  function asNever(v: unknown) {
    return v as never;
  }

  function reset() {
    search = "";
    filterParams = filterParams.map((_, i) => Object.values(filters)[i].default);
  }
</script>

<search class="relative mx-auto mt-8 flex w-full max-w-screen-xl flex-wrap justify-between p-2 px-4 pb-4">
  <PanelBackground class="bg-slate-950 text-red-dark" />

  <div class="flex-grow">
    <div class="relative -mt-6 mb-2 w-full max-w-xl">
      <Input
        label="Search"
        id="search"
        type="search"
        class="z-10 w-full text-center text-xl"
        placeholder="Search {contentName}"
        bind:value={search}
      />

      {#if search}
        <button
          transition:fade
          on:click={() => (search = "")}
          class="absolute right-0 top-0 h-11 px-3 text-zinc-400 transition hover:text-white"
        >
          <XIcon />
        </button>
      {/if}

      <small class="block px-4 text-right font-medium text-red text-opacity-90">
        {searchHint}
        <Link href="/about#advanced-searching" class="ml-1">For advanced use see the guide.</Link>
      </small>
    </div>

    <div class="flex flex-wrap gap-4">
      {#each Object.entries(filters) as [filterId, filter], i (filter)}
        <ItemFilterOption
          {params}
          {filterId}
          filter={asNever(filter)}
          data={filterResults[i - 1] ?? searchResult}
          bind:parameter={filterParams[i]}
          bind:running={filterRunning[i]}
          bind:filtered={filterResults[i]}
        />
      {/each}

      <Button variant="inline" type="reset" on:click={reset}>Clear filters</Button>
    </div>
  </div>

  <div class="justify-betweeen flex flex-col items-end">
    <div class="float-right">
      Showing
      <span class="text-lg text-yellow">{filtered.length.toLocaleString()}</span>
      out of
      <span class="text-cyan">{data.length.toLocaleString()}</span>
      {contentName}.
    </div>

    <div class="-mb-1 ml-auto mt-auto flex flex-wrap gap-4">
      <Switch
        label="Long scroll"
        title="Shows as many items as possible on a single page"
        bind:checked={infiniteScroll}
      />
    </div>
  </div>
</search>
