<script lang="ts" context="module">
  /* eslint-disable no-undef */
  export type ItemBase = Record<string, unknown>;
  interface FilterOptionBase {
    label: string;
  }

  interface SelectFilterOption<T extends ItemBase, O extends Record<string, string> = Record<string, string>>
    extends FilterOptionBase {
    type: "select";
    default: keyof O;
    options: O;
    filter: (chosenOption: string, data: T[]) => T[];
  }

  // interface SwitchFilterOption<T extends ItemBase> extends FilterOptionBase {
  //   type: "switch";
  //   default: boolean;
  //   filter: (enabled: boolean, data: T[]) => T[];
  // }

  export type FilterOption<T extends ItemBase> = SelectFilterOption<T>; //| SwitchFilterOption<T>;

  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  type FilterOptionD = FilterOption<ItemBase>;
  // type FilterOptions = { [Filter in FilterOptionD as Filter["type"]]: Filter };
  // type FilterParam<T = FilterOptionD, I extends ItemBase = ItemBase> =
  //   T extends FilterOption<I> ? Parameters<T["filter"]>[0] : never;
</script>

<script lang="ts" generics="Filter extends FilterOptionD">
  import { onDestroy } from "svelte";
  import type { LiveURLSearchParams } from "$lib/LiveURLSearchParams";
  import Select from "$lib/components/Select.svelte";
  // import Switch from "$lib/components/Switch.svelte";

  export let params: LiveURLSearchParams;
  export let filterId: string;
  export let filter: Filter;
  export let parameter = params.get(filterId) ?? filter.default;
  export let data: ItemBase[];
  export let filtered = data;
  export let running = false;

  let timeout: NodeJS.Timeout | null = null;
  let lastParameter = parameter;
  let lastData = data;

  function runFilter(parameter: string, data: ItemBase[]) {
    if (lastParameter === parameter && lastData === data) return;
    lastParameter = parameter;
    lastData = data;

    running = true;

    if (timeout) clearTimeout(timeout);

    timeout = setTimeout(() => {
      filtered = filter.filter(parameter, data);

      if (filtered === data) {
        params.delete(filterId);
      } else {
        params.set(filterId, parameter);
      }

      timeout = null;
      running = false;
    }, 100);
  }

  $: runFilter(parameter as string, data);

  onDestroy(() => {
    if (timeout) clearTimeout(timeout);
  });
</script>

{#if filter.type == "select"}
  <Select label={filter.label} options={filter.options} bind:value={parameter} />
  <!-- {:else if filter.type == "switch"}
  <Switch {...filter} bind:checked={untypedParameter} /> -->
{/if}
