<script lang="ts">
  import type { SVGAttributes } from "svelte/elements";

  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  interface $$Props extends SVGAttributes<SVGSVGElement> {}
</script>

<svg version="1.1" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" {...$$props}>
  <path
    d="m629.9 219.7-410.9 186.9 494.6 2.751"
    class="fill-none stroke-yellow"
    stroke-miterlimit="16"
    stroke-width="86.4"
  />
  <path
    d="m629.9 415.2-410.9 186.9 494.6 2.751"
    class="fill-none stroke-yellow"
    stroke-miterlimit="16"
    stroke-opacity=".66"
    stroke-width="86.4"
  />
  <path
    d="m629.9 610.8-410.9 186.9 494.6 2.751"
    class="fill-none stroke-yellow"
    stroke-miterlimit="16"
    stroke-opacity=".33"
    stroke-width="86.4"
  />
  <path
    d="m754.5 377.9c43.74 43.74 68.31 103.1 68.31 164.9s-24.57 121.2-68.31 164.9"
    class="fill-none stroke-yellow"
    stroke-miterlimit="16"
    stroke-width="86.4"
  />
  <path
    d="m850.6 281.9c69.21 69.21 108.1 163.1 108.1 260.9 0 97.87-38.88 191.7-108.1 260.9"
    class="fill-none stroke-yellow"
    stroke-miterlimit="16"
    stroke-width="86.4"
  />
</svg>
