<script lang="ts">
  import fileSize from "$data/subtitles.json?filesize";
  import file from "$data/subtitles.json?url";
  import TheWholeDamnPage from "$lib/parts/TheWholeDamnPage.svelte";
  import SubtitleDetail from "./SubtitleDetail.svelte";
  import SubtitleItem from "./SubtitleItem.svelte";
  import {
    getVoiceoverPreviewUrl,
    guessCharacter,
    parseSubtitle,
    type ProcessedSubtitle,
    type Subtitles,
  } from "./subtitles";

  export let data;

  let subtitles: ProcessedSubtitle[];
  let innerWidth = 1;

  function getItemId(item: ProcessedSubtitle) {
    return item._id;
  }

  function getPreviewUrl(id: string | number) {
    return getVoiceoverPreviewUrl(id + "");
  }

  const V_GENDER_RE = /\/v_\w+_(f|m)_/;
  function processData(rawData: Subtitles): ProcessedSubtitle[] {
    return Object.entries(rawData).map<ProcessedSubtitle>(([id, item]) => {
      const path = item._path?.split("/") || [];
      const texts = [item.female?.text, item.male?.text].filter((v) => v) as string[];

      for (const text of [...texts]) {
        const parsed = parseSubtitle(text);
        if (typeof parsed === "string") continue;
        texts.push(parsed.before + parsed.content + parsed.after);
        if (parsed.translation) texts.push(parsed.before + parsed.translation + parsed.after);
      }

      const v_gender = { m: false, f: false };

      for (const gender of ["male", "female"] as const) {
        const vo = item[gender]?.vo;
        if (vo) {
          const match = V_GENDER_RE.exec(Object.values(vo)[0]);
          if (match?.[1]) v_gender[match[1] as "f"] = true;
        }
      }

      return {
        ...item,
        _id: id,
        _dlc: path[0],
        _character: guessCharacter(item),
        _v_gender: v_gender,
        _texts: texts,
        _pathSegments: path,
      };
    });
  }

  const asG = (v: string) => v as "m" | "f";

  $: characters = subtitles?.reduce((acc, v) => {
    if (v._character) acc.add(v._character);
    return acc;
  }, new Set<string>([]));
  $: characterOptions = characters
    ? Array.from(characters)
        .toSorted((a, b) => a.toLocaleLowerCase().localeCompare(b.toLocaleLowerCase()))
        .reduce(
          (acc, v) => {
            acc[v] = v;
            return acc;
          },
          {} as Record<string, string>,
        )
    : {};
</script>

<TheWholeDamnPage
  itemWidth={768}
  itemHeight={innerWidth < 768 ? 256 : 128}
  gridClass="mx-auto w-full max-w-screen-xl"
  dataName="subtitles database"
  contentName="subtitles"
  detailName="Subtitle Entry"
  initialData={data.subtitles}
  bind:data={subtitles}
  {file}
  {fileSize}
  convertId={(v) => v + ""}
  {getItemId}
  {getPreviewUrl}
  {processData}
  bind:innerWidth
  keys={[
    { name: "_id", weight: 3 },
    { name: "_texts", weight: 2 },
    { name: "_character" },
    { name: "_pathSegments" },
    { name: "_path", weight: 0.5 },
  ]}
  filters={{
    dlc: {
      type: "select",
      label: "DLC",
      default: "any",
      options: { any: "any", base: "base game", ep1: "Phantom Liberty" },
      filter: (dlc, d) => {
        if (dlc == "any") return d;
        return d.filter((a) => a._dlc == dlc);
      },
    },
    character: {
      type: "select",
      label: "Character",
      default: "any",
      options: { any: "any", _unknown_: "_unknown_", ...characterOptions },
      filter: (character, d) => {
        if (character == "any") return d;
        return d.filter((a) => (character == "_unknown_" ? !a._character : a._character == character));
      },
    },
    gender: {
      type: "select",
      label: "V's VO",
      default: "unset",
      options: { unset: "unused", m: "male V", f: "female V" },
      filter: (gender, d) => {
        if (gender == "unset") return d;
        return d.filter((a) => a._v_gender[asG(gender)]);
      },
    },
  }}
>
  <SubtitleItem
    slot="item"
    let:item
    {item}
    let:index
    {index}
    let:focused
    focus={focused}
    let:playSound
    {playSound}
    let:playingId
    {playingId}
    let:previewsAvailable
    {previewsAvailable}
    let:audio
    {audio}
    let:onFocus
    on:focus={onFocus}
    let:onBlur
    on:blur={onBlur}
  />

  <SubtitleDetail slot="detail" let:audio {audio} let:item {item} />
</TheWholeDamnPage>
