<script lang="ts">
  import { onMount } from "svelte";
  import AudioPlayer from "$lib/components/AudioPlayer.svelte";
  import CopyButton from "$lib/components/CopyButton.svelte";
  import DataEntry from "$lib/components/DataEntry.svelte";
  import { DLCS, GENDER_COLORS } from "$lib/config";
  import { isIn, isNull } from "$lib/utils";
  import type { VisualizerAudioCntr } from "$lib/visualizedAudio";
  import SubtitleText from "./SubtitleText.svelte";
  import {
    getFullPath,
    getVoiceoverPreviewUrl,
    parseSubtitle,
    type LanguageNode,
    type ProcessedSubtitle,
  } from "./subtitles";

  export let item: ProcessedSubtitle;
  export let audio: VisualizerAudioCntr;

  $: gendered = !isNull(item.male);
  $: path = item._path && getFullPath(item._path).replaceAll("/", "\\") + ".json";
  $: previewVoiceover = item.male?.vo
    ? Object.values(item.male.vo)[0]
    : item.female?.vo
      ? Object.values(item.female.vo)[0]
      : undefined;
  $: previewUrl = previewVoiceover ? getVoiceoverPreviewUrl(previewVoiceover) : undefined;

  $: previewText = item.male?.text ?? item.female?.text;
  $: previewTextParsed = previewText && parseSubtitle(previewText);
  $: previewDescription =
    !previewTextParsed || typeof previewTextParsed === "string"
      ? previewTextParsed
      : ((parsed) => {
          const texts = [parsed.before + parsed.content + parsed.after];
          if (parsed.translation) texts.unshift(parsed.before + parsed.translation + parsed.after);
          return texts.map((v) => `"${v}"`).join(" / ");
        })(previewTextParsed as LanguageNode);

  $: description = previewDescription
    ? ((item._character && item._character + ": ") || "") + previewDescription
    : "A voice-over from Cyberpunk 2077";

  onMount(() => {
    audio.setFFTSize(1024 * 4);

    return () => {
      audio.stopSound();
      audio.setFFTSize();
    };
  });
</script>

<svelte:head>
  <meta name="description" content={description} />
  <meta property="og:description" content={description} />

  {#if previewUrl}
    <meta property="og:audio" content={previewUrl} />
    <meta property="og:audio:secure_url" content={previewUrl} />
    <meta property="og:audio:type" content="audio/ogg" />
  {/if}
</svelte:head>

<dl class="flex w-full flex-wrap gap-8">
  <DataEntry key="Guessed character">
    {#if item._character}
      <span class="text-3xl text-cyan">{item._character}</span>
    {:else}
      <span class="error-text">unknown</span>
    {/if}
  </DataEntry>

  <DataEntry key="Added by">
    {#if item._dlc}
      {isIn(item._dlc, DLCS) ? DLCS[item._dlc] : item._dlc}
      {#if item._pathSegments[3]?.startsWith("overlay")}
        <span class="-mt-1 block text-lg leading-none text-yellow">(overwrites base game)</span>
      {/if}
    {:else}
      <span class="error-text">???</span>
    {/if}
  </DataEntry>
</dl>

<div class="my-10">
  <ul class="flex flex-col gap-8">
    {#each Object.keys(GENDER_COLORS) as gender (gender)}
      {@const subitem = item[gender]}
      {@const color = GENDER_COLORS[gender]}

      {#if subitem}
        <li>
          {#if gendered}
            <span class="uppercase {color} text-right align-middle font-mono text-sm" title={gender}>
              For {gender} V:
            </span>
          {/if}

          {#if subitem.text}
            <span class="inline-block align-middle text-2xl italic leading-tight">
              &quot;<SubtitleText text={subitem.text} />&quot;
            </span>
          {:else}
            <span class="error-text">Subtitles not found</span>
          {/if}

          {#if subitem.vo}
            <ul class="flex flex-col gap-2">
              {#each Object.entries(subitem.vo) as [variantName, variantPath] (variantName)}
                <li>
                  <div class="relative z-10 -mb-2 ml-3 flex items-center">
                    <span class="min-w-16 uppercase leading-none text-zinc-400">
                      {variantName == "main" ? "normal" : variantName}
                    </span>

                    <CopyButton
                      content={getFullPath(variantPath).replaceAll("/", "\\")}
                      title="Copy full path to clipboard"
                      class="text-cyan"
                    >
                      .../{variantPath.split("/").slice(-1)[0]}
                    </CopyButton>
                  </div>

                  <AudioPlayer {audio} src={getVoiceoverPreviewUrl(variantPath)} />
                </li>
              {/each}
            </ul>
          {:else}
            <div class="error-text">No voiceover was found</div>
          {/if}
        </li>
      {/if}
    {/each}
  </ul>
</div>

<dl class="flex flex-wrap gap-8">
  <DataEntry key="String Id">
    <CopyButton content={item._id} class="text-cyan">
      {item._id}
    </CopyButton>
  </DataEntry>

  <DataEntry key="Subtitles found in">
    {#if path}
      <CopyButton content={path} title="Copy full path to clipboard" class="text-lg">
        .../{path.split("\\").slice(-3).join("/")}
      </CopyButton>
    {:else}
      <span class="error-text">Nowhere</span>
    {/if}
  </DataEntry>
</dl>
