<script lang="ts">
  import { twMerge } from "tailwind-merge";
  import AudioButton from "$lib/components/AudioButton.svelte";
  import CopyButton from "$lib/components/CopyButton.svelte";
  import PanelBackground from "$lib/components/PanelBackground.svelte";
  import { GENDER_COLORS } from "$lib/config";
  import type { VisualizerAudioCntr } from "$lib/visualizedAudio";
  import SubtitleText from "./SubtitleText.svelte";
  import type { ProcessedSubtitle } from "./subtitles";

  export let index = 0;
  export let focus = false;
  export let item: ProcessedSubtitle;
  export let audio: VisualizerAudioCntr;
  export let playSound: (path: string) => void;
  export let playingId: string | number | null = "";
  export let previewsAvailable: boolean | null = true;

  let self: HTMLElement;

  $: gendered = "male" in item;

  $: if (focus) self?.focus();
</script>

<a
  bind:this={self}
  href="/subtitles/{item._id}"
  tabIndex={index + 1}
  on:focus
  on:blur
  class="group relative flex h-full max-h-full w-full flex-col-reverse gap-2 p-4 md:flex-row-reverse"
>
  <PanelBackground
    class={twMerge(
      "inset-2 bg-red-darkest text-red-darker transition",
      "group-hover-focus:text-red",
      "group-focus:bg-[color-mix(in_srgb,theme(colors.red.darker)_30%,theme(colors.red.darkest))]",
    )}
    bevelScale={3}
  />

  <div class="flex h-full flex-1 items-end gap-1 whitespace-nowrap leading-none max-md:flex-wrap md:flex-col">
    {#if item._path}
      {#each { length: 3 } as _, i (i)}
        <div class="flex justify-end gap-1">
          {#each item._pathSegments.slice(...[[0, 1], [3, 5], [5]][i]) as segment, j (segment)}
            <div class="text-right leading-none">
              <span
                class={twMerge(
                  "inline-block rounded bg-zinc-600 bg-opacity-25 px-2 py-0.5 font-semibold",
                  ["bg-red", "", "bg-cyan", "bg-yellow"][i * 2 + j],
                )}
              >
                {#if i}
                  {segment}
                {:else if segment == "ep1" && item._pathSegments[3] != "overlays_quest"}
                  Phantom Liberty
                {:else}
                  base game
                {/if}
              </span>
            </div>
          {/each}
        </div>
      {/each}
    {:else}
      <span class="rounded bg-zinc-500 bg-opacity-25 px-2 py-1 font-semibold uppercase text-red">NOT FOUND</span>
    {/if}

    <div class="-mb-1 ml-auto mr-1 mt-auto">
      <span class="-mr-2 align-middle uppercase text-zinc-300 text-opacity-75">ID:</span>
      <CopyButton content={item._id} class="text-cyan">{item._id}</CopyButton>
    </div>
  </div>

  <ul class="flex h-full w-full flex-grow flex-col justify-around">
    {#each Object.keys(GENDER_COLORS) as gender (gender)}
      {@const subitem = item[gender]}
      {@const color = GENDER_COLORS[gender]}
      {#if subitem}
        {@const previewPath = subitem.vo && Object.values(subitem.vo)[0]}

        <li class="flex items-center gap-x-2 leading-tight">
          <AudioButton
            background
            {audio}
            active={playingId == previewPath}
            class={twMerge("ml-2 p-1", gendered && color, !subitem.vo && "invisible")}
            circleClass={gendered ? color + " stroke-current" : ""}
            disabled={!subitem.vo || !previewsAvailable}
            on:click={() => previewPath && playSound(previewPath)}
          />

          <div>
            {#if gendered}
              <span class="uppercase {color} text-right font-mono text-sm" title={gender}>{gender[0]}</span>
            {/if}

            {#if item._character}
              <span class="text-cyan">{item._character}:</span>
            {/if}

            {#if subitem.text}
              <span class="text-lg leading-tight">
                <SubtitleText text={subitem.text}></SubtitleText>
              </span>
            {:else}
              <span class="error-text">&lt;subtitles not found&gt;</span>
            {/if}
          </div>
        </li>
      {/if}
    {/each}
  </ul>
</a>
