<script lang="ts">
  import SvelteMarkdown from "svelte-markdown";
  import { afterNavigate, beforeNavigate } from "$app/navigation";
  import content from "$content/about.md?raw";
  import { PUBLIC_PROJECT_NAME } from "$env/static/public";
  import Codespan from "$lib/components/Codespan.svelte";
  import Heading from "$lib/components/Heading.svelte";
  import Link from "$lib/components/Link.svelte";
  import List from "$lib/components/List.svelte";
  import Paragraph from "$lib/components/Paragraph.svelte";
  import Table from "$lib/components/Table.svelte";
  import { createMarkdownContext } from "$lib/markdownContext";

  createMarkdownContext();

  beforeNavigate((nav) => {
    if (nav.to) document.documentElement.classList.remove("scroll-smooth");
  });

  afterNavigate(() => {
    document.documentElement.classList.add("scroll-smooth");
  });
</script>

<svelte:head>
  <title>About {PUBLIC_PROJECT_NAME}</title>
</svelte:head>

<div class="mx-auto flex w-full max-w-screen-xl flex-col bg-stone-950">
  <div class="mx-auto mb-32 w-full max-w-screen-lg p-2 text-lg">
    <SvelteMarkdown
      source={content}
      renderers={{ link: Link, heading: Heading, list: List, paragraph: Paragraph, codespan: Codespan, table: Table }}
    />
  </div>
</div>
