@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Rajdhani;
  src: url(./assets/Rajdhani-Regular.ttf) format(truetype);
  font-weight: 400;
}
@font-face {
  font-family: Rajdhani;
  src: url(./assets/Rajdhani-Light.ttf) format(truetype);
  font-weight: 300;
}
@font-face {
  font-family: Rajdhani;
  src: url(./assets/Rajdhani-Medium.ttf) format(truetype);
  font-weight: 500;
}
@font-face {
  font-family: Rajdhani;
  src: url(./assets/Rajdhani-SemiBold.ttf) format(truetype);
  font-weight: 600;
}
@font-face {
  font-family: Rajdhani;
  src: url(./assets/Rajdhani-Bold.ttf) format(truetype);
  font-weight: 700;
}

@layer base {
  html {
    scrollbar-gutter: stable;
    overflow-y: auto;
  }
}

@layer components {
  .error-text {
    @apply uppercase italic text-red;
  }
}
