<script lang="ts">
  import { twMerge } from "tailwind-merge";

  export let inline = false;
  let classes = "";
  export { classes as class };
</script>

<div
  class={twMerge(
    "flex items-center gap-2 border-2 border-red p-2",
    inline ? "flex-wrap text-zinc-300" : "flex-col p-4",
    classes,
  )}
>
  <div
    class={twMerge(
      "flex flex-wrap items-center gap-4 text-xl font-semibold text-red",
      inline && "inline-flex gap-2 text-lg",
    )}
  >
    <div class="relative {inline ? 'h-[1.5lh]' : 'h-[2lh]'} select-none text-center leading-none" role="presentation">
      <span class="absolute left-0 top-3/4 w-full -translate-y-2/3 font-mono" class:text-2xl={!inline}>!</span>
      <svg viewBox="0 0 158 158" class="inline-block h-full w-auto fill-current">
        <path
          d="m14.35 137.3 45.14-82 16.34-29.9c1.344-2.461 4.877-2.468 6.229-.0107l61.54 111.8c1.302 2.367-.408 5.263-3.108 5.266l-123 .11c-2.703.003-4.419-2.897-3.115-5.265m142.3 6.196-22.45-40.77-3.511 1.93-28.55-51.87 3.529-1.933-22.51-40.9c-1.805-3.244-6.476-3.244-8.264 0l-22.55 40.97 3.517 1.932-28.55 51.87-3.515-1.928-22.41 40.69c-1.731 3.144.5387 6.984 4.132 6.984h45.18v-3.665h56.67v3.665h45.15c3.595 0 5.864-3.84 4.134-6.984"
        ></path>
      </svg>
    </div>

    <slot name="title" />
  </div>

  <slot />
</div>
