<script lang="ts">
  import type { SVGAttributes } from "svelte/elements";
  import { twMerge } from "tailwind-merge";

  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  interface $$Props extends SVGAttributes<SVGSVGElement> {}
</script>

<svg
  version="1.1"
  viewBox="0 0 25 25"
  xmlns="http://www.w3.org/2000/svg"
  {...$$props}
  class={twMerge("fill-none stroke-current stroke-2", $$props.class)}
>
  <path d="m3.193 12.5 20.09-11.6-2.654 1.633v19.93l2.654 1.633z" />
</svg>
