<script lang="ts">
  import { AlertTriangleIcon, LoaderIcon, MusicIcon, PauseIcon, PlayIcon, Volume2Icon } from "svelte-feather-icons";
  import { twMerge } from "tailwind-merge";
  import { SoundState, type VisualizerAudioCntr } from "$lib/visualizedAudio";

  export let active = true;
  export let background = false;
  export let style: "default" | "sfx" | "music" = "default";
  export let disabled = false;
  export let audio: VisualizerAudioCntr | undefined = undefined;
  export let soundState: SoundState = SoundState.STOPPED;
  export let soundProgress = 0;
  let classes = "";
  export { classes as class };
  export let circleClass = "";

  $: title = "Play the " + { default: "audio", sfx: "sound", music: "music" }[style];
  $: audioSoundState = audio?.soundState;
  $: if (audioSoundState) soundState = $audioSoundState!;
  $: audioSoundProgress = audio?.soundProgress;
  $: if (audioSoundProgress) soundProgress = $audioSoundProgress!;
</script>

<button
  class={twMerge(
    "relative rounded-full p-2.5 text-zinc-400 transition",
    background && [
      "bg-red bg-opacity-25 hover:bg-opacity-40 hover:text-white",
      "disabled:bg-cyan disabled:bg-opacity-5 disabled:text-zinc-600",
    ],
    classes,
  )}
  on:click|stopPropagation|preventDefault
  {title}
  {disabled}
>
  {#if active}
    <!-- Progress bar circle -->
    <svg
      viewBox="-1 -1 32 32"
      class="absolute -inset-[3px] opacity-50 {soundState == SoundState.LOADING ? 'animate-spin' : '-rotate-90'}"
      vector-effect="non-scaling-stroke"
    >
      <circle
        cx="15"
        cy="15"
        r="15"
        class={twMerge("fill-none stroke-red stroke-2", circleClass)}
        stroke-dasharray={soundState == SoundState.LOADING ? "15 95" : "95 95"}
        stroke-dashoffset={(1 - soundProgress) * 95}
      ></circle>
    </svg>
  {/if}

  {#if active && soundState == SoundState.LOADING}
    <LoaderIcon class="animate-spin" />
  {:else if active && soundState == SoundState.ERROR}
    <AlertTriangleIcon />
  {:else if active && soundState == SoundState.PLAYING}
    <PauseIcon />
  {:else if style == "default"}
    <PlayIcon class="relative bottom-0 left-0.5" />
  {:else if style == "music"}
    <MusicIcon />
  {:else}
    <Volume2Icon />
  {/if}
  <span class="sr-only">{title}</span>
</button>
