<script lang="ts">
  import { quadInOut } from "svelte/easing";
  import { SoundState, type VisualizerAudioCntr } from "$lib/visualizedAudio";
  import formatDuration from "format-duration";
  import AudioButton from "./AudioButton.svelte";

  export let audio: VisualizerAudioCntr;
  export let src: string | undefined = undefined;
  let forceActive: boolean | undefined = undefined;
  export { forceActive as active };

  const id = Math.floor(Math.random() * 4096);
  let progress: HTMLElement;

  function onMouse(ev: MouseEvent) {
    if (ev.buttons == 1) audio.seek(ev.offsetX / progress.offsetWidth);
  }

  $: soundProgress = audio.soundProgress;
  $: soundState = audio.soundState;
  $: analyserData = audio.analyserData;
  $: currentSrc = audio.currentSrc;
  $: audioDuration = audio.audioDuration;

  $: active = forceActive !== undefined ? forceActive : !src || $currentSrc == src;
  $: playing = $soundState == SoundState.PLAYING && active;

  let duration = 0;
  $: if ($currentSrc == src) duration = $audioDuration;

  $: ownProgress = active ? $soundProgress : 0;
  $: ownAnalyserData = active ? $analyserData : [127];

  const inv255 = 1 / 255;
  $: invAnalLength = (1 / $analyserData.length) * 100;

  $: visualizerStroke =
    "M100,50" +
    Array.from(ownAnalyserData, (v, i) => "L" + (100 - i * invAnalLength) + "," + quadInOut(v * inv255) * 100).join(
      " ",
    ) +
    " L0,50 Z";
</script>

<div class="flex w-full items-center gap-1">
  <AudioButton
    {active}
    soundState={$soundState}
    on:click={() => (playing ? audio.stopSound() : audio.playSound(src))}
  />

  <!-- svelte-ignore a11y-no-static-element-interactions -->
  <div
    class="relative w-full cursor-pointer py-2"
    bind:this={progress}
    on:mousedown|preventDefault={onMouse}
    on:mousemove={onMouse}
  >
    <svg
      viewBox="0 0 100 100"
      preserveAspectRatio="none"
      class="absolute -top-4 left-0 h-[calc(100%+2rem)] w-full object-fill text-cyan-800 drop-shadow-glow"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <mask id="visualizer-{id}">
        <!-- Everything under a black pixel will be invisible -->
        <rect x="0" y="0" width="100" height="100" fill="black" />
        <!-- Everything under a white pixel will be visible -->
        <path vector-effect="non-scaling-stroke" fill="white" d={visualizerStroke} />
      </mask>
      <mask id="visualizerStrokeOnly-{id}">
        <!-- Everything under a black pixel will be invisible -->
        <rect x="0" y="0" width="100" height="100" fill="black" />
        <!-- Everything under a white pixel will be visible -->
        <path vector-effect="non-scaling-stroke" fill="black" stroke="white" stroke-width="2" d={visualizerStroke} />
      </mask>

      <g mask="url(#visualizer-{id})">
        <!-- Right part -->
        <rect x={ownProgress * 100} y="0" width="100" height="100" class="fill-cyan-800" />
        <!-- Left part -->
        <rect x="0" y="0" width={ownProgress * 100} height="100" class="fill-cyan opacity-75" />
        <!-- Line on the progress -->
        <path
          d="M0,0 L0,100"
          vector-effect="non-scaling-stroke"
          transform="translate({ownProgress * 100}, 0)"
          class="stroke-cyan-light stroke-1"
        />
      </g>
      <g mask="url(#visualizerStrokeOnly-{id})">
        <!-- Stroke only -->
        <rect x="0" y="0" width={ownProgress * 100} height="100" class="fill-cyan opacity-50" />
      </g>
    </svg>

    {#if active && $soundState == SoundState.ERROR}
      <span class="error-text absolute -top-0.5 left-0">PREVIEW IS MISSING</span>
    {/if}

    <progress
      class="progress relative z-10 block h-1 w-full bg-cyan bg-opacity-25 opacity-50"
      class:bg-red={active && $soundState == SoundState.ERROR}
      value={ownProgress}
    />
  </div>

  <div class:opacity-0={$currentSrc != src || !duration}>
    {formatDuration(duration * 1000, { leading: true, ms: true })}
  </div>
</div>

<style>
  .progress {
    appearance: none;
  }
  .progress::-webkit-progress-bar {
    background-color: inherit;
  }
  .progress::-moz-progress-bar {
    background-color: theme("colors.cyan.DEFAULT");
  }
  /* Doesn't work when grouped with the above?? */
  .progress::-webkit-progress-value {
    background-color: theme("colors.cyan.DEFAULT");
  }
</style>
