<script lang="ts">
  import type { HTMLButtonAttributes } from "svelte/elements";
  import { twMerge } from "tailwind-merge";
  import PanelBackground from "./PanelBackground.svelte";

  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  interface $$Props extends Omit<HTMLButtonAttributes, "disabled" | "class"> {
    disabled?: boolean;
    class?: string;
    variant?: keyof typeof VARIANTS;
    wideStripe?: boolean;
    bevelSide?: "left" | "right";
    label?: string;
    href?: string;
  }

  const VARIANTS = {
    big: "pl-4 pt-2 pb-3 pr-6 text-xl",
    small: "pl-2 pb-1 pr-5 text-lg",
    inline: "pl-2 pr-4",
  };

  export let variant: keyof typeof VARIANTS = "big";
  export let wideStripe = variant == "big";
  export let bevelSide: "left" | "right" = "right";
  export let label = "";
  export let href = "";
  export let disabled = false;
  let classes = "";
  export { classes as class };
</script>

<svelte:element
  this={href ? "a" : "button"}
  href={href || undefined}
  disabled={href ? undefined : disabled}
  role={undefined}
  on:click
  class={twMerge(
    "group relative inline-block cursor-pointer text-left uppercase text-cyan-light",
    "transition hover:border-red",
    "disabled:cursor-not-allowed disabled:text-opacity-75",
    wideStripe && "border-red-dark " + (bevelSide == "left" ? "border-r-8" : "border-l-8"),
    VARIANTS[variant],
    classes,
  )}
  {...$$restProps}
>
  <PanelBackground
    class="panel bg-red-darkest text-red-dark transition group-hover:text-red group-disabled:border-red-darker"
    {bevelSide}
    bevelScale={variant == "inline" ? 1 : undefined}
  />
  <slot>{label}</slot>
</svelte:element>
