<script lang="ts">
  export let text = "";
  export let raw = "";
  raw;
</script>

<!-- eslint-disable-next-line svelte/no-at-html-tags -->
<code class="inline-block rounded bg-zinc-900 px-1 font-mono text-base text-zinc-300">{@html text}</code>
