<script lang="ts">
  import { twMerge } from "tailwind-merge";
  import type { HeadingRecord } from "$lib/markdownContext";
  import Link from "./Link.svelte";
  import List from "./List.svelte";

  export let headings: HeadingRecord[];
</script>

<List class="relative z-10 my-0 ml-5 list-none">
  {#each headings as heading, i (heading.id)}
    {@const last = i == headings.length - 1}
    <li class={twMerge(!last && "border-l border-red-dark")}>
      <Link
        href="#{heading.id}"
        external={false}
        class={twMerge(
          "relative pl-3 leading-normal text-yellow no-underline hover-focus:text-yellow-100 hover-focus:underline",
          last && [
            "before:absolute before:left-0 before:border-l before:border-red-dark",
            i ? "before:-top-4 before:h-[calc(125%)]" : "before:-top-0.5 before:h-[calc(60%)]",
          ],
          "after:absolute after:left-0 after:top-1/2 after:inline-block after:w-2 after:border-b after:border-red-dark",
        )}
      >
        {heading.title}
      </Link>

      {#if heading.children.length}
        <svelte:self headings={heading.children} />
      {/if}
    </li>
  {/each}
</List>
