<script lang="ts">
  import { onDestroy } from "svelte";
  import type { HTMLButtonAttributes } from "svelte/elements";
  import { CheckIcon, CopyIcon } from "svelte-feather-icons";
  import { twMerge } from "tailwind-merge";

  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  interface $$Props extends HTMLButtonAttributes {
    content: string;
    title?: string;
    iconClass?: string;
  }

  export let content: string;
  export let title = "Copy to clipboard";
  export let iconClass = "";
  let classes: string | null = "";
  export { classes as class };

  let justCopied = false;
  let justCopiedTimeout: NodeJS.Timeout | undefined = undefined;

  async function copy() {
    try {
      await navigator.clipboard.writeText(content);

      justCopied = true;

      if (justCopiedTimeout) clearTimeout(justCopiedTimeout);
      justCopiedTimeout = setTimeout(() => {
        justCopied = false;
      }, 1500);
    } catch (error) {
      console.error(error);
    }
  }

  onDestroy(() => {
    if (justCopiedTimeout) clearTimeout(justCopiedTimeout);
  });
</script>

<button
  {title}
  {...$$restProps}
  on:click|stopPropagation|preventDefault={copy}
  class={twMerge("rounded px-2 pb-0.5 pt-1 text-left transition hover:bg-zinc-300 hover:bg-opacity-10", classes)}
>
  <slot />
  <span class={twMerge("align-middle leading-none", iconClass, "relative")}>
    <CopyIcon class="inline transition {justCopied ? 'opacity-0' : ''}" size="1x" />

    <CheckIcon
      class="absolute -left-1 -top-0.5 inline text-green-500 transition {justCopied ? '' : 'opacity-0'}"
      size="1.5x"
    />
  </span>
</button>
