<script lang="ts">
  import { twMerge } from "tailwind-merge";

  export let key = "";
  export let value = "";
  export let valueClass = "";
  let classes = "";
  export { classes as class };
</script>

<div class={classes}>
  <dt class="-mb-1.5 uppercase text-zinc-400"><slot name="key">{key}:</slot></dt>
  <dd class={twMerge("text-xl", valueClass)}><slot>{value}</slot></dd>
</div>
