<script lang="ts">
  import { createEventDispatcher, onDestroy } from "svelte";
  import { fade, type TransitionConfig } from "svelte/transition";
  import { XIcon } from "svelte-feather-icons";
  import { twMerge } from "tailwind-merge";
  import Button from "./Button.svelte";
  import PanelBackground from "./PanelBackground.svelte";

  export let title = "";
  export let modal = true;
  export let show = true;
  let classes = "";
  export { classes as class };

  const dispatch = createEventDispatcher<{
    close: void;
    closing: void;
  }>();

  let dialog: HTMLDialogElement;
  let open = false;

  export const close = () => {
    if (!open) return;
    open = false;
    dispatch("closing");
  };
  const finishClosing = () => {
    dialog.close();
    dispatch("close");
  };

  function onKeyDown(event: KeyboardEvent) {
    if (event.key == "Escape") close();
  }

  onDestroy(() => dialog?.open && dialog?.close());

  const ANIMATION_DURATION = 400;
  const slideXY = (
    _node: HTMLElement,
    { duration, delay = 0 }: { duration: number; delay?: number },
  ): TransitionConfig => {
    return {
      delay,
      duration,
      css: (t, _u) => `
        transform: scaleX(${Math.min(1, t * 2) ** 2});
        height: ${Math.max(0, t * 2 - 1) * 100}%;
        will-change: transform, width, height;
      `,
    };
  };

  $: if (modal && show) dialog?.showModal();
  $: if (!show) close();
  else open = true;
</script>

<svelte:window on:keydown={onKeyDown} />

<dialog
  bind:this={dialog}
  open={modal ? undefined : true}
  class={twMerge(
    "fixed z-30 max-h-full overflow-auto bg-transparent p-2 text-inherit",
    "backdrop:bg-transparent backdrop:backdrop-blur-none backdrop:transition backdrop:duration-500",
    open && "backdrop:bg-black backdrop:bg-opacity-25 backdrop:backdrop-blur-xs",
    classes,
  )}
>
  {#if open}
    <div class="relative p-4 pb-8">
      <div
        class="absolute left-0 top-0 -z-10 h-full min-h-1 w-full"
        in:slideXY|global={{ duration: ANIMATION_DURATION }}
        out:slideXY={{ duration: ANIMATION_DURATION, delay: 200 }}
        on:outroend={finishClosing}
      >
        <PanelBackground class="bg-red-darkest text-red-dark" />
      </div>

      <div class="w-full" in:fade|global={{ delay: ANIMATION_DURATION }} out:fade={{ duration: 200 }}>
        <header class="mb-2 flex flex-wrap-reverse items-start justify-between">
          <slot name="title"><h1 class="text-4xl font-semibold">{title}</h1></slot>

          <Button class="-mr-4 -mt-4 mb-auto ml-4" on:click={close} bevelSide="left" wideStripe={false}>
            <XIcon class="inline pb-1" />
            Close
          </Button>
        </header>

        <slot />
      </div>
    </div>
  {/if}
</dialog>
