<script lang="ts">
  import type { HTMLAttributes } from "svelte/elements";
  import { HashIcon } from "svelte-feather-icons";
  import { twMerge } from "tailwind-merge";
  import { getMarkdownContext } from "$lib/markdownContext";
  import ContentTable from "./ContentTable.svelte";
  import PanelBackground from "./PanelBackground.svelte";

  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  interface $$Props extends HTMLAttributes<HTMLHeadingElement> {
    text?: string;
    depth?: number;
  }

  const CLASSES = [
    // h1
    "text-6xl mt-12 mb-5",
    // h2
    "text-5xl mt-8 mb-3",
    // h3
    "text-4xl mt-8 mb-2",
    // h4
    "text-2xl mt-4 -mb-4",
    // h5
    "text-xl -mb-4",
    // h6
    "-mb-5",
  ];

  export let text = "";
  export let depth = 1;
  export let raw = "";
  raw;

  const id = text
    .toLocaleLowerCase()
    .replace(/(?!\w+)./g, "-")
    .replace(/-+/g, "-")
    .replace(/^-|-$/, "");
  const showId = id && depth > 1;

  const context = getMarkdownContext();
  if (context) context.addHeading(depth, { title: text, id });
  $: headings = context?.headings;
</script>

<svelte:element
  this={"h" + depth}
  {id}
  {...$$restProps}
  class={twMerge(
    "group scroll-m-20 text-yellow transition",
    "heading target:underline",
    CLASSES[depth - 1],
    $$props.class,
  )}
>
  <svelte:element this={showId ? "a" : undefined} href="#{id}">
    <slot>{text}</slot>
    {#if showId}
      <HashIcon class="-ml-1 inline align-super opacity-25 transition group-hover:opacity-50" size="0.5x" />
    {/if}
  </svelte:element>
</svelte:element>

{#if depth == 1 && headings}
  <nav class="relative p-2 pb-4 pr-4 md:float-right md:-mt-16 md:mb-8 md:ml-8">
    <PanelBackground class="z-0 bg-red-darkest text-red-darker" />

    <h2 class="relative z-10 font-semibold uppercase text-red text-opacity-75">Contents</h2>
    <ContentTable headings={$headings[0]?.children ?? []} />
  </nav>
{/if}

<style lang="postcss">
  .heading:target {
    animation: pulse-bg 0.4s alternate;
    animation-iteration-count: 6;
  }

  @keyframes pulse-bg {
    to {
      background: color-mix(in srgb, theme("colors.red.DEFAULT"), transparent);
    }
  }
</style>
