<script lang="ts">
  import type { HTMLInputAttributes } from "svelte/elements";
  import { twMerge } from "tailwind-merge";
  import PanelBackground from "./PanelBackground.svelte";

  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  interface $$Props extends Omit<HTMLInputAttributes, "id"> {
    id?: string;
    label?: string;
  }

  export let id = "";
  export let label: string | undefined = undefined;
  export let bevelSide: "left" | "right" = "left";
  export let value = "";
  let classes: string | null = null;
  export { classes as class };
</script>

<div class={twMerge("group flex", classes)}>
  {#if label}
    <label for={id} class="relative -mr-[2px] h-full cursor-pointer p-2 pl-5 pr-4 uppercase text-cyan">
      {label}

      <PanelBackground class=" bg-red-darker text-red-dark transition group-hover-focus:text-red" bevelSide="left" />
    </label>
  {/if}

  <div class="relative w-full">
    <input
      {id}
      bind:value
      {...$$restProps}
      class={twMerge(
        "-ml-2 h-full w-full border-none bg-transparent px-2 align-middle outline-none",
        "placeholder:font-medium placeholder:text-zinc-400 placeholder:text-opacity-50",
      )}
    />
    <PanelBackground
      class="bg-red-darkest text-red-dark transition group-focus-within:bg-red-darker group-hover-focus:text-red"
      bevelSide={label ? "right" : bevelSide}
    />
  </div>
</div>

<style>
  input {
    text-align: inherit;
  }
</style>
