<script lang="ts">
  import type { HTMLAnchorAttributes } from "svelte/elements";
  import { ExternalLinkIcon } from "svelte-feather-icons";
  import { twMerge } from "tailwind-merge";

  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  interface $$Props extends Omit<HTMLAnchorAttributes, "href" | "title"> {
    href: string;
    external?: boolean;
    title?: string;
    text?: string;
  }

  export let href: string;
  export let external = !href.startsWith("/");
  export let title = "";
  export let text = "";
  export let raw = "";
  export let externalIcon = external && !!text;
  raw;
</script>

<a
  title={title || undefined}
  {href}
  target={external ? "_blank" : undefined}
  rel={external ? "noopener noreferrer" : undefined}
  {...$$restProps}
  class={twMerge("text-cyan underline transition hover-focus:text-cyan-light", $$props.class)}
>
  <slot>{text}</slot>{#if externalIcon}
    <ExternalLinkIcon class="ml-1 inline align-middle" size="0.9x" />
  {/if}
</a>
