<script lang="ts">
  import { twMerge } from "tailwind-merge";

  export let ordered = false;
  export let start = 1;
  let classes = "";
  export { classes as class };
</script>

<svelte:element
  this={ordered ? "ol" : "ul"}
  start={ordered ? start : undefined}
  class={twMerge("my-2 ml-2 list-inside list-disc", classes)}
>
  <slot />
</svelte:element>
