<script lang="ts">
  import { twMerge } from "tailwind-merge";

  export let label: string;
  export let progress = 0;
  export let indeterminate = false;
  export let activity = "";
  export let hint = "";

  let bar: HTMLProgressElement;

  $: if (indeterminate) bar?.removeAttribute("value");
  else bar?.setAttribute("value", progress.toString());
</script>

<label class="flex flex-col items-center text-center text-xl text-cyan-light">
  {label}

  {#if activity}
    <small class="-mb-1">{activity}</small>
  {/if}

  <div
    class={twMerge(
      "relative mt-1 w-96 max-w-full border border-red p-1.5",
      "before:absolute before:-top-px before:left-2 before:h-[calc(100%+2px)] before:w-[calc(100%-1rem)] before:bg-black",
      "after:absolute after:-left-px after:top-1.5 after:h-2 after:w-[calc(100%+2px)] after:bg-black",
    )}
  >
    <progress bind:this={bar} value={progress} class="progress relative z-10 block h-2 w-full bg-red bg-opacity-10">
      {progress * 100} %
    </progress>
  </div>
  <span class="-mt-1 block text-lg text-red transition" class:opacity-0={indeterminate} aria-hidden>
    {Math.round(progress * 100)} %
  </span>

  {#if hint}
    <small>{hint}</small>
  {/if}
</label>

<style>
  .progress {
    appearance: none;

    --bg-scale: 64px;
    --indeterminate-bg: linear-gradient(
        -45deg,
        transparent,
        transparent 25%,
        theme("colors.red.DEFAULT") 25%,
        theme("colors.red.DEFAULT") 75%,
        transparent 75%,
        transparent
      )
      left/var(--bg-scale);
  }

  .progress::-webkit-progress-bar {
    background-color: inherit;
  }

  .progress::-moz-progress-bar {
    background-color: theme("colors.red.DEFAULT");
  }
  /* Doesn't work when grouped with the above?? */
  .progress::-webkit-progress-value {
    background-color: theme("colors.red.DEFAULT");
  }

  .progress:indeterminate::-moz-progress-bar {
    background: var(--indeterminate-bg);
    animation:
      scroll-bg 1s infinite linear,
      fade-out-color 0.5s both;
  }
  .progress:indeterminate::-webkit-progress-value {
    background: var(--indeterminate-bg);
    animation:
      scroll-bg 1s infinite linear,
      fade-out-color 0.5s both;
  }

  @keyframes fade-out-color {
    from {
      background-color: theme("colors.red.DEFAULT");
    }
    to {
      background-color: transparent;
    }
  }

  @keyframes scroll-bg {
    from {
      background-position: 0% 0%;
    }
    to {
      background-position: var(--bg-scale) 0%;
    }
  }
</style>
