<script lang="ts">
  import { twMerge } from "tailwind-merge";
  import Arrow from "./Arrow.svelte";
  import PanelBackground from "./PanelBackground.svelte";

  export let page = 1;
  export let pages = 1;

  let input: HTMLInputElement;

  // Sanitize
  function onInput() {
    if (!input.value) return;

    let value = +input.value;
    if (isNaN(value) || value <= 0) value = page;
    input.value = value + "";
  }

  // Apply
  function onChange() {
    const value = +input.value;
    if (value <= 0) page = 1;
    else if (value > pages) page = pages;
    else page = value;
    input.value = page + "";
  }
</script>

<div class="flex flex-wrap gap-0.5 leading-none">
  <button
    class={twMerge("group relative block w-10 px-3 py-2 disabled:opacity-60")}
    disabled={page == 1}
    on:click={() => page--}
  >
    <PanelBackground
      bevelSide="left"
      class="bg-red-darkest text-red-dark transition group-disabled:!text-red-darker group-hover-focus:text-red"
    />
    <Arrow class="-m-0.5" />
  </button>

  <label
    class="relative flex cursor-text select-none items-center justify-center gap-1 border-2 border-red-dark bg-red-darkest text-lg transition hover-focus:border-red"
  >
    <span
      class={twMerge(
        "absolute -top-3 left-1/2 -translate-x-1/2 border-t-2 border-inherit bg-inherit px-4 pt-0.5 text-sm uppercase leading-none",
        "before:corner-bevel before:-left-2 before:top-px before:-rotate-45 before:border-inherit before:bg-inherit before:wh-[1rem]",
        "after:corner-bevel after:-right-2 after:top-px after:rotate-45 after:border-inherit after:bg-inherit after:wh-[1rem]",
      )}
    >
      Page
    </span>

    <input
      bind:this={input}
      inputmode="numeric"
      pattern="\d+"
      class="w-1/2 bg-transparent text-right text-cyan outline-none"
      min="1"
      step="1"
      max={pages}
      value={page}
      on:input={onInput}
      on:change={onChange}
    />
    /
    <div class="w-1/2">
      {pages}
    </div>
  </label>

  <button
    class={twMerge("group relative block w-10 px-3 py-2 disabled:opacity-60")}
    disabled={page == pages}
    on:click={() => page++}
  >
    <PanelBackground
      bevelSide="right"
      class="bg-red-darkest text-red-dark transition group-disabled:!text-red-darker group-hover-focus:text-red"
    />
    <Arrow class="-m-0.5 rotate-180" />
  </button>
</div>
