<script lang="ts">
  import { twMerge } from "tailwind-merge";

  export let bevelScale = 1.5;
  export let bevelSide: "left" | "right" = "right";
  let classes = "";
  export { classes as class };
</script>

<span
  style:--scale={bevelScale}
  style:--size="{bevelScale}rem"
  class={twMerge(
    "panel pointer-events-none absolute inset-0 -z-10 border-2",
    "border-current bg-current",
    "after:corner-bevel after:bottom-0 after:h-[var(--size)] after:w-[var(--size)] after:border-inherit after:bg-transparent after:bevel-border-3 after:bevel-border-b",
    bevelSide == "right" ? "after:right-0 after:-rotate-45" : "left after:left-0 after:rotate-45",
    classes,
  )}
/>

<style>
  .panel {
    --offset: calc(100% - sqrt(var(--scale)) * (1rem - 5.5px));
    clip-path: polygon(0% 0%, 100% 0%, 100% var(--offset), var(--offset) 100%, 0% 100%);
    box-shadow: 0 0 1rem currentColor;
  }
  .panel.left {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, calc(100% - var(--offset)) 100%, 0% var(--offset));
  }
</style>
