<script lang="ts">
  import type { HTMLAttributes } from "svelte/elements";
  import { twMerge } from "tailwind-merge";
  import PanelBackground from "./PanelBackground.svelte";

  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  interface $$Props extends HTMLAttributes<HTMLLabelElement> {
    label?: string;
    options: Record<string, string>;
    value: string;
    disabled?: boolean;
  }

  // eslint-disable-next-line no-undef
  export let options: Record<string, string>;
  export let value = Object.keys(options)[0];
  export let label = "";
  export let disabled = false;
</script>

<label
  {...$$restProps}
  class={twMerge("inline-flex items-center gap-2 pl-2 font-medium uppercase text-cyan", $$props.class)}
>
  {label}

  <div class="group relative pr-1 font-normal">
    <select bind:value class="peer cursor-pointer bg-transparent px-2 disabled:cursor-not-allowed" {disabled}>
      {#each Object.entries(options) as [itemValue, item] (itemValue)}
        <option value={itemValue} class="bg-red-darkest text-cyan">{item}</option>
      {/each}
    </select>

    <PanelBackground
      class="bg-red-darkest text-red-dark peer-disabled:!text-red-darker group-hover-focus:text-red"
      bevelScale={1}
    />
  </div>
</label>
