<script lang="ts">
  import type { HTMLAttributes } from "svelte/elements";
  import { twMerge } from "tailwind-merge";
  import PanelBackground from "./PanelBackground.svelte";

  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  interface $$Props extends HTMLAttributes<HTMLLabelElement> {
    label?: string;
    checked?: boolean;
    disabled?: boolean;
  }

  export let checked = false;
  export let label = "";
  export let disabled = false;
</script>

<label
  {...$$restProps}
  class={twMerge(
    "group inline-flex cursor-pointer items-center gap-2 pl-2 font-medium uppercase text-cyan",
    $$props.class,
  )}
>
  {label}

  <input type="checkbox" bind:checked class="peer hidden" {disabled} />

  <!-- ON / OFF -->
  <span
    class={twMerge(
      "relative ml-auto text-lg font-extrabold text-red-dark transition ",
      "peer-checked:text-cyan peer-checked:before:opacity-100 peer-checked:after:opacity-0",
      "before:absolute before:right-0 before:opacity-0 before:transition before:content-['ON']",
      "after:transition after:content-['OFF'] ",
    )}
  />

  <span
    class="relative inline-block h-6 w-16 p-1 pl-1 text-red-dark transition-all peer-checked:pl-7 peer-checked:text-cyan"
  >
    <PanelBackground class="bg-red-darkest text-red-dark transition group-hover-focus:text-red" bevelScale={1} />
    <PanelBackground class="relative mb-0.5 inline-block h-4 w-8 bg-current text-inherit" bevelScale={0.675} />
  </span>
</label>
