<table class="w-full"><slot /></table>

<style lang="postcss">
  table :global(td) {
    @apply break-words border-y border-red border-opacity-50 py-1;
  }
  table :global(th) {
    @apply text-xl font-semibold;
  }
</style>
