<script lang="ts">
  import { twMerge } from "tailwind-merge";
  import Button from "./Button.svelte";
  import CopyButton from "./CopyButton.svelte";
  import WrappableText from "./WrappableText.svelte";

  export let items: string[];
  export let hideAfterChars = 0;
  export let wrappableSplitter = "";
  export let copyButton = true;
  export let itemClass = "";
  let classes = "";
  export { classes as class };

  function getMaxCharsArray(array: string[], maxLength: number) {
    const output = [];
    let acc = 0;
    for (const item of array) {
      acc += item.length;
      if (acc > maxLength) break;
      output.push(item);
    }
    return output;
  }

  let showAll = false;

  $: lessItems = hideAfterChars ? getMaxCharsArray(items, hideAfterChars) : items;

  $: hiddenCount = items.length - lessItems.length;

  $: shownItems = showAll ? items : lessItems;
</script>

<ul class={twMerge("flex flex-wrap gap-1", classes)} class:max-w-2xl={!showAll}>
  {#each shownItems as item, i (i + item)}
    <li class={copyButton ? undefined : itemClass}>
      {#if copyButton}
        <CopyButton content={item} class={itemClass}>
          {#if wrappableSplitter}
            <WrappableText text={item} splitter={wrappableSplitter} />
          {:else}
            {item}
          {/if}
        </CopyButton>
      {:else}
        {item}{#if i != shownItems.length - 1}<span class="opacity-75">,</span>{/if}
      {/if}
    </li>
  {/each}
  {#if hiddenCount}
    <li>
      <Button variant="small" on:click={() => (showAll = !showAll)}>
        {#if showAll}
          Show less
        {:else}
          Show {hiddenCount} more
        {/if}
      </Button>
    </li>
  {/if}
</ul>
