<script lang="ts">
  import { tick } from "svelte";
  import { twMerge } from "tailwind-merge";
  import { browser } from "$app/environment";

  export let focusedIndex: number | null = null;
  export let itemCount: number;
  export let itemWidth: number;
  export let itemHeight: number;
  export let pagination = false;
  let classes = "";
  export { classes as class };

  export let page = 1;

  // Bindable
  export let windowHeight = 1;
  export let wrapperWidth = 1;
  export let scrollY = 0;
  export let pageCount = 1;

  let wrapper: HTMLElement;
  let lastPagination = pagination;
  let lastItemHeight = itemHeight;

  function scrollToIndex(index: number) {
    if (!itemsPerRow || !wrapper) return;

    page = Math.floor(index / itemsPerPage) + 1;
    const pageOffset = (page - 1) * itemsPerPage;

    const row = Math.floor((index - pageOffset) / itemsPerRow);

    if (row > rowOffset + 1 && row < rowOffset + rowsPerScreen) {
      return; // Item is on screen (probably)
    }

    const targetY = row * itemHeight + wrapper.offsetTop;
    const targetScroll = targetY - windowHeight * 0.4;

    tick().then(() => {
      window.scrollTo({ top: targetScroll, behavior: "smooth" });
    });
  }

  let itemsPerPage = 0;

  $: clampedItemWidth = Math.min(itemWidth, wrapperWidth);
  $: adjustedWindowHeight = windowHeight - wrapper?.offsetTop;

  $: itemsPerRow = Math.floor(wrapperWidth / clampedItemWidth);
  $: columnGap = (wrapperWidth - itemsPerRow * clampedItemWidth) / itemsPerRow;
  $: adjustedItemWidth = clampedItemWidth + columnGap;
  $: rowsPerScreen = Math.floor(adjustedWindowHeight / itemHeight) + 3;

  // Beyond 1 000 000 px rendering gets imprecise and further it goes it gets worse
  $: maxRows = Math.floor(Math.max(1, 1_000_000 / itemHeight));
  $: if (
    (!itemsPerPage || pagination != lastPagination || itemHeight != lastItemHeight) &&
    rowsPerScreen &&
    itemsPerRow
  ) {
    itemsPerPage = pagination ? Math.min(maxRows, Math.max(8, rowsPerScreen - 3) * itemsPerRow) : maxRows; // set once, hopefully
    lastPagination = pagination;
    lastItemHeight = itemHeight;
  }

  $: totalHeight = Math.min(itemCount, Math.ceil(itemsPerPage / itemsPerRow)) * itemHeight;
  $: pageCount = Math.ceil(itemCount / (itemsPerPage || 1));

  $: rowOffset = Math.max(0, Math.round((scrollY - itemHeight * 0.5) / itemHeight) - 2);
  $: if (focusedIndex != null) scrollToIndex(focusedIndex);
  $: if (page > pageCount) page = pageCount;
  $: if (page < 1) page = 1;
  $: if (page && browser) window.scrollTo({ top: 0, behavior: "smooth" });
</script>

<svelte:window bind:innerHeight={windowHeight} bind:scrollY />

<ul
  bind:this={wrapper}
  bind:clientWidth={wrapperWidth}
  class={twMerge(
    "relative box-content grid h-[var(--height)] grid-cols-[repeat(var(--cols),1fr)] overflow-hidden transition",
    classes,
  )}
  style:--cols={itemsPerRow}
  style:height={totalHeight + "px"}
  style:--h="{itemHeight}px"
  style:--w="{adjustedItemWidth}px"
>
  {#each { length: rowsPerScreen } as _, rowI (rowI)}
    {#each { length: itemsPerRow } as _, columnI (columnI)}
      {@const scrolledRowI = Math.floor((rowOffset - rowI) / rowsPerScreen + 1) * rowsPerScreen + rowI - 1}
      {@const positionIndex = scrolledRowI * itemsPerRow + columnI}
      {@const index = positionIndex + (page - 1) * itemsPerPage}
      {@const top = Math.floor(positionIndex / itemsPerRow) * itemHeight}
      {@const left = columnI * adjustedItemWidth}

      {#key index}
        <li class={twMerge("absolute h-[var(--h)] w-[var(--w)]")} style:top="{top}px" style:left="{left}px">
          <slot {index} />
        </li>
      {/key}
    {/each}
  {/each}
</ul>
